@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

* {
    font-family: "Playfair Display", serif;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
.navbar {
  background-color: white;
  padding: 15px;
  font-family: "NTR", sans-serif;
}

.navbar-brand {
  font-weight: bold;
  color: red;
}

.video-container {
  position: relative;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  z-index: 1;
  cursor: pointer;
}

.video-container img {
  /* filter: brightness(0.7); */
  border-radius: 15px;
}

/* .bollywood{
  top: 50%;
} */