@import url('https://fonts.googleapis.com/css2?family=NTR&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  font-family: "Roboto", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
.card {
    border: 2px solid #f33b3b;
    border-radius: 8px;
}
.card img {
    width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-top: 15px;
    border-radius: 20px;
}
.card img:hover {
    transform: translateY(-10px);
}
h1 {
    margin-bottom: 30px;
}
.song-item {
    transition: transform 0.3s;
}
.song-item:hover {
    transform: translateY(-10px);
}
.song-item img {
    height: 80px;
}

.song-title {
    font-weight: bold;
    font-size: 18px;
}
.song-description {
    margin-top: 5px;
    font-size: 13px;
    color: #555;
}
.album-cards img {
    height: 370px;
    object-fit: cover;
    padding: 39px;
    border-radius: 70px;
}
.album-cards img:hover {
    transform: translateY(-10px);
    transition: transform 0.3s;
}
h2 {
    font-weight: bold;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
}
@media (max-width: 768px) {
    .album-carousel img {
        margin-right: 20px; 
    }
}
@media (max-width: 576px) {
    .album-carousel img {
        margin-right: 20px; 
    }
}
.song-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}
.song-info {
    flex-grow: 1;
}
.song-title {
    font-weight: bold;
}
.quick-picks {
    padding: 20px;
}
